<!--
  Generated template for the ListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>
    
  <ion-navbar padding >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    <form (ngSubmit)="secondSubmit()">    
    <ion-item>
      <ion-label color="light" ><ion-icon name="search"></ion-icon></ion-label>
      <ion-input type="search" placeholder="Job Title, Keywords"  [(ngModel)]="paramWhat" name="what" style=""></ion-input>

       <!-- <button ion-button type="submit" inline><ion-icon name="search"></ion-icon></button> -->
     </ion-item>
</form>
     </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding margin-top>
<h1 *ngIf="this.showFailMsg == true" >Sorry, we couldn't find any results!</h1>
<h6 *ngIf="this.showFailMsg == false" >Results for <span *ngIf="this.what" > "{{this.what}}"</span><span *ngIf="this.cat"> "{{this.cat}}"</span> <span *ngIf="this.where"> in "{{this.where}}" </span> </h6>
<!-- <h4 *ngIf="this.noResults == true">Sorry, we couldn't find any results for "{{this.paramWhat}} {{this.paramCategory}}" <span *ngIf="this.paramWhere">in "{{this.paramWhere}}"</span>!</h4>
 -->


  <ion-card *ngFor="let item of jobs">
   <ion-card-header>{{item.job_title}}</ion-card-header>
    <!--<ion-card-content [innerHTML]="item.job_wysiywig_content.substring(0, 150)+'...'"></ion-card-content>-->
<ion-card-content>
          <p>  {{item.company_name}} </p>
    <!-- <p>  <ion-icon name="pin"></ion-icon> </p> -->


    <p *ngIf="item.real_updated_at"><ion-icon name="time"></ion-icon>  {{item.real_updated_at.substring(0,10) }}</p>

      <ion-grid>
      <ion-row>
      <ion-col col-4>
      <a ion-button  small (click)="openApply({job: item})" >Apply Now</a>
      </ion-col>
       <ion-col col-4>
       <a ion-button small  (tap)="openModal({job: item})" >View Job</a>
      </ion-col>
       <ion-col col-4 >
       <a *ngIf="item.job_contact_number" href="tel:{{item.job_contact_number}}" ion-button small>Call Now</a>
         <a *ngIf="!item.job_contact_number && item.company_phone" href="tel:{{item.company_phone}}" ion-button small>Call Now</a>
      </ion-col>
      </ion-row>
      </ion-grid>

    </ion-card-content>


  </ion-card>



 
 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>


</ion-content>
