page-listing {
 ion-card-header{overflow: visible; white-space: normal;}
.button-inner span{display: none;}
img{margin-left: -10px; padding: 5px;}
ion-grid{margin-left: -10px !important; margin-right: -10px !important;}
ion-grid .button{width: 111%; }
}