page-home {
  .item.item-block .item-inner {
    border: none;
    background: transparent;
  }

  .input {
    border: solid white 1px; background: white; color: black;
  }

  .text-input-ios{
    padding: 5px;
  }
  .content{background: #34485c; color: white;}

  .item{background: transparent; padding-left: 5px; color: white;}

  form{ padding: 15px; border-radius: 5px;}
  
  .button{ margin: 10px 0; }

  img{ margin: 5px auto;}

  .toolbar-background{background: transparent;}

  .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{border: none;}

  ion-select{background: white;}
  .select-text{color: black;}
}

.toolbar-background{background: #34485c; }
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{color: white;}